<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325981436719-k2bvqhcct47e1a5p279klsjjermdkc4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325981436719-k2bvqhcct47e1a5p279klsjjermdkc4p</string>
	<key>API_KEY</key>
	<string>AIzaSyCn_cs53GzDTOIWFNw9EHjaHBnCepqbzLg</string>
	<key>GCM_SENDER_ID</key>
	<string>325981436719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.MoMo</string>
	<key>PROJECT_ID</key>
	<string>momo-f2bc9</string>
	<key>STORAGE_BUCKET</key>
	<string>momo-f2bc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325981436719:ios:1746590508d065f4987fda</string>
</dict>
</plist>